<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Coding 101</title>
</head>
<body>
    <div class="container" style="width: 800px; margin:0 auto;">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <h1>Coding 101</h1>
        <h2>All Posts</h2>
        <hr/>
        <h4>Learn Reactjs</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus alias iste optio soluta aliquid fugiat saepe? Natus quibusdam sint veniam voluptate, ullam numquam excepturi blanditiis nesciunt, reprehenderit quisquam necessitatibus.</p>
        <hr/>
        <h4>Learn Nodejs</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fuga laborum rerum tempore, at quidem quasi. Sequi cupiditate quis cumque quibusdam incidunt eveniet sed animi! Corrupti modi in quas sapiente?</p>
        <hr/>
        <h4>Learn MongoDB</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque impedit tenetur dicta ipsam consequuntur hic? Commodi nostrum laboriosam itaque! Maxime, itaque molestiae minima unde sequi ratione accusantium consequuntur atque alias.</p>
        <hr/>
        <h4>Learn JavaScript</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque impedit tenetur dicta ipsam consequuntur hic? Commodi nostrum laboriosam itaque! Maxime, itaque molestiae minima unde sequi ratione accusantium consequuntur atque alias.</p>
        <hr/>
    </div>
</body>
</html>